
+font('Nautilus Pompilius', NautilusPompilius)
=NP
	font-family: "Nautilus Pompilius", sans-serif

+font('Helvetica Neue LT Std', HelveticaNeueLTStd)
=HN
	font-family: "Helvetica Neue LT Std", sans-serif

+font('Helvetica Neue Cyr Black', HelveticaNeueCyr-Black)
=HNc
	font-family: "Helvetica Neue Cyr Black", sans-serif

+font('Museo Sans Cyrl', MuseoSansCyrl)
=MSC
	font-family: "Museo Sans Cyrl", sans-serif

+font('FreeSet', Freeset)
=Fs
	font-family: "FreeSet", sans-serif

+font('Kizo', Kizo)
=K
	font-family: "Kizo", sans-serif

body
  background-color: #131313
  +css-lock(16, 26, 480, 1366)
  line-height: 1.4

.wrapper
	max-width: 1366px 
	margin: 0 auto
.content-wrapper
	max-width: 954px 
	margin: 0 auto

=cw
	max-width: 954px 
	margin: 0 auto

=love-text
	background-image: linear-gradient(39deg, #fd586e 40%, #f9579e 60%)
	-o-background-clip: text 
	background-clip: text 
	-webkit-background-clip: text
	// color: #ffffff
	color: transparent 
	+NP