.dates
	+cw
	text-align: center
	color: #fff 
	+MSC
	&__title
		font-size: 28px
		+css-lock(18, 28, 480, 960)
		font-weight: 700
		line-height: 2.2em
		margin-top: 1.7em 
.date-btn
	display: inline-block
	margin: 5px 15px 
	color: #a90317
	font-size: 24px
	+css-lock(14, 24, 480, 960)
	font-weight: 900
	line-height: 2.6em
	width: 9em
	height: 2.6em
	border-radius: 10px
	background-color: #d4d5d6
	&.is-active
		color: #000000
		opacity: 0.8
		font-weight: 700

.timeline
	+cw
	position: relative
	margin-top: 3.05em 
	height: 2px
	background-color: #979797
.timeline-item
	color: #fff 
	+vcenter
	+love-text
	+MSC
	top: -6px
	&:after
		content: ""
		display: inline-block
		height: 8px  
		width: 100% 
		position: relative
		top: -14px 
		background-image: linear-gradient(39deg, #fd586e 40%, #f9579e 60%)
.home-btn
	font-size: 24px 
	+css-lock(16, 24, 480, 960)
	width: 8.333333em
	height: 2.125em
	display: block
	border-top-right-radius: 3px
	border-bottom-right-radius: 3px
	margin: 3.6em auto 2em
	text-transform: uppercase
	color: #fff
	background-color: #ff5e3a  