.dates
	+cw
	text-align: center
	color: #fff 
	+MSC
	&__title
		font-size: 28px
		+css-lock(18, 28, 480, 960)
		font-weight: 700
		line-height: 2.2em
		margin-top: 1.7em 
.date-btn
	display: inline-block
	margin: 5px 15px 
	color: #a90317
	font-size: 24px
	+css-lock(14, 24, 480, 960)
	font-weight: 900
	line-height: 2.6em
	width: 9em
	height: 2.6em
	border-radius: 10px
	background-color: #d4d5d6
	&.is-active
		color: #000000
		opacity: 0.8
		font-weight: 700
