<!-- BEGIN dates -->
<div class="dates">	
	<h3 class="dates__title">Анонс акций на</h3>

	<input type="radio" name="day" id="day13" checked>
	<label for="day13" class="date-btn day-btn13" >13 февраля</label>

	<input type="radio" name="day" id="day14">
	<label for="day14" class="date-btn day-btn14">14 февраля</label>

{# 	<button class="date-btn is-active">13 февраля</button>
	<button class="date-btn">14 февраля</button> #}



	<!-- BEGIN tabs -->
	<div class="tabs">

		<!-- BEGIN tab -->
		<div class="tab tab13">
			<!-- BEGIN timeline -->
			<div class="timeline">
				<div class="timeline-item">20:00</div>
			</div>
			<!-- END timeline -->

			<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/13/20/1.jpg" alt="1"></a>
			<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/13/20/2.jpg" alt="2"></a>

			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/3.jpg" alt="3"></a>
			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/4.jpg" alt="4"></a>
			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/5.jpg" alt="5"></a>

			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/20.jpg" alt="20"></a>
			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/BlackFriday.jpg" alt="20"></a>

			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/BlackFriday1 (2).jpg" alt="20"></a>
			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/BlackFriday1 (3).jpg" alt="20"></a>
			<a href="#" class="tab__item"><img class="tab__img" src="img/13/20/BlackFriday1 (4).jpg" alt="20"></a>

			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/New.jpg" alt="20"></a>
			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/outlet.jpg" alt="20"></a>

			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/Баннер (2).jpg" alt="20"></a>
			<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/13/20/sport-outlet.jpg" alt="20"></a>
		</div>
		<!-- END tab -->

		<!-- BEGIN tab -->
		<!-- BEGIN tab tab14 -->
		<div class="tab tab14">
			<div class="timeline"></div>
			<input type="radio" name="time" class="timeline-radio" id="tr1" checked>
			<label class="timeline-item" for="tr1">06:00</label>
			<input type="radio" name="time" class="timeline-radio" id="tr2">
			<label class="timeline-item" for="tr2">10:00</label>
			<input type="radio" name="time" class="timeline-radio" id="tr3">
			<label class="timeline-item" for="tr3">12:00</label>
			<input type="radio" name="time" class="timeline-radio" id="tr4">
			<label class="timeline-item" for="tr4">16:00</label>
			<input type="radio" name="time" class="timeline-radio" id="tr5">
			<label class="timeline-item" for="tr5">20:00</label>
				
				<!-- BEGIN tab tab14-06 -->
				<div class="tab tab14-06">
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/06/Баннер (2).jpg" alt="1"></a>
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/06/Баннер (3).jpg" alt="2"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/Баннер (4).jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/Баннер (5).jpg" alt="4"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/Баннер (6).jpg" alt="5"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/Баннер (7).jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/Баннер-восстановлено.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/Баннер.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/рророр.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/1.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/1.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/2.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/3.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/4.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/5.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/BlackFriday (2).jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/BlackFriday (3).jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday (4).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday (5).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday (6).jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/BlackFriday.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/06/BlackFriday1 (2).jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday1 (3).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday1 (5).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday1 (6).jpg" alt="20"></a>


					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday1 (9).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/BlackFriday1.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/06/Garnier_Press_MIX_Modna-casta_desember_2016.jpg" alt="20"></a>
				</div>
				<!-- END tab tab14-06 -->

			
				<!-- BEGIN tab tab14-10  -->
				<div class="tab tab14-10">
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/10/Баннер (2).jpg" alt="1"></a>
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/10/Баннер (3).jpg" alt="2"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/Баннер (4).jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/Баннер (5).jpg" alt="4"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/Баннер (6).jpg" alt="5"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/Баннер.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/1.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/2.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/20.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/3.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/4.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/5.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/6.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/BlackFriday (2).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/BlackFriday (3).jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/BlackFriday.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/BlackFriday1 (2).jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/BlackFriday1 (3).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/BlackFriday1.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/10/NewYear.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/Nikolas.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/10/Price-восстановлено.jpg" alt="20"></a>
				</div>
				<!-- END tab14-10 -->


				<!-- BEGIN tab tab14-12  -->
				<div class="tab tab14-12">
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/12/Баннер (2).jpg" alt="1"></a>
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/12/Баннер (3).jpg" alt="2"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/Баннер (4).jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/Баннер (5).jpg" alt="4"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/Баннер.jpg" alt="5"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/1.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/10.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/2.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/3.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/4.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/5.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/Best2016 (2).jpg" alt="Best2016 (2)"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/Best2016 (3).jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/Best2016.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/BlackFriday (2).jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/BlackFriday.jpg" alt="BlackFriday"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/BlackFriday1 (2).jpg" alt="BlackFriday1"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/BlackFriday1 (3).jpg" alt="BlackFriday1 (3)"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/BlackFriday1 (4).jpg" alt="BlackFriday1 (4)"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/12/BlackFriday1 (5).jpg" alt="BlackFriday1 (5)"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/BlackFriday1.jpg" alt="BlackFriday1"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/french-sale.jpg" alt="french-sale"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/Nikolas (2).jpg" alt="Nikolas"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/12/Nikolas.jpg" alt="Nikolas-sale"></a>
				</div>
				<!-- END tab14-12 -->

				<!-- BEGIN tab tab14-16  -->
				<div class="tab tab14-16">
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/16/Баннер (2).jpg" alt="1"></a>
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/16/Баннер (3).jpg" alt="2"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/Баннер (4).jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/Баннер (5).jpg" alt="4"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/Баннер.jpg" alt="5"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/1.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/2.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/3.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/4.jpg" alt="20"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/5.jpg" alt="20"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/Best2016 (2).jpg" alt="Best2016 (2)"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/Best2016.jpg" alt="Best2016"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/Best2016_Nivea-20_1_s.jpg" alt="Best2016_Nivea-20_1_s"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/BlackFriday.jpg" alt="BlackFriday"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/BlackFriday1 (2).jpg" alt="BlackFriday2"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/BlackFriday1 (3).jpg" alt="BlackFriday"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/BlackFriday1 (4).jpg" alt="BlackFriday1"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/BlackFriday1 (5).jpg" alt="BlackFriday1 (3)"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/BlackFriday1.jpg" alt="BlackFriday1"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/16/christmas-sale.jpg" alt="christmas-sale.jpg"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/christmas-sale03.jpg" alt="christmas-sale.jpg"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/16/french-sale.jpg" alt="french-sale"></a>
				</div>
				<!-- END tab14-16 -->

				<!-- BEGIN tab tab14-20  -->
				<div class="tab tab14-20">
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/20/Баннер (2).jpg" alt="1"></a>
					<a href="#" class="tab__item tab__item_big"><img class="tab__img" src="img/14/20/Баннер (3).jpg" alt="2"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/Баннер (4).jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/Баннер (5).jpg" alt="4"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/Баннер (6).jpg" alt="5"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/Баннер.jpg" alt="20"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/1.jpg" alt="20"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/2.jpg" alt="2"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/3.jpg" alt="3"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/4.jpg" alt="4"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/5.jpg" alt="5"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/Best2016 (2).jpg" alt="Best2020"></a>

					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/Best2016.jpg" alt="Best2016"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/BlackFriday (2).jpg" alt="BlackFriday"></a>
					<a href="#" class="tab__item"><img class="tab__img" src="img/14/20/BlackFriday.jpg" alt="BlackFriday2"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/New.jpg" alt="BlackFriday"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/NewYear.jpg" alt="BlackFriday1"></a>

					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/X-_Marketing_Design_Banners-2015_14_02_2017_garne_BlackFriday.jpg" alt="christmas-sale.jpg"></a>
					<a href="#" class="tab__item  tab__item_big"><img class="tab__img" src="img/14/20/X-_Marketing_Design_Banners-2015_14_11_2016_ukrainian-outlet_Best2016.jpg" alt="french-sale"></a>
				</div>
				<!-- END tab14-20 -->


		</div>
		<!-- END tab tab14 -->

	</div>
	<!-- END tabs -->



	<!-- BEGIN home-btn -->
	<button class="home-btn">на главную</button>
	<!-- END home-btn -->

</div>
<!-- END dates -->