<!-- BEGIN header -->
<header class="header">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<a href="#" class="logo"><img src="img/logo-mk.png" alt="mk"></a>
		<!-- BEGIN bookmatks -->
		<div class="bookmarks">
			<div class="bookmark"></div>
		</div>
		<!-- END bookmatks -->
		<!-- BEGIN header__links -->
		<div class="header__links">
			<a href="#" class="header__link is-tel"></a>
			<a href="#" class="header__link is-modnakarta"></a>
			<a href="#" class="header__link is-help"></a>
		</div>
		<!-- END header__links -->

	</div>
	<!-- END wrapper -->
</header>
<!-- END header -->