<!-- BEGIN love -->
<div class="love">

		<div id="trailer" class="overlay">
			<video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
				<source src="img/StValentinesVideo.mp4"></source>
				<source src="img/StValentinesVideo.webm" type="video/webm"></source>
			</video>
		</div>


	<!-- BEGIN love__inner -->
	<div class="love__inner">

		<button class="love__btn">13-14 февраля</button>
		<h1 class="love__h1">I love</h1>
		<div class="love__title">shopping</div>
		<div class="love__text">Скидки, от которых сердце бьется быстрее</div>
	
		<form action="#" method="get" class="join">
			<input class="join__mail" type="email" name="" id="" placeholder="example@com.ua">
			<button class="join__btn" type="submit">участвовать!</button>
		</form>


		
		<!-- BEGIN counter -->
		<div class="counter">
			<h3 class="counter__title">До распродажи осталось:</h3>

			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">2</div>
				<div class="counter__number">5</div>
				<div class="counter__name">Дней</div>
			</div>
			<!-- END counter__item -->

			<div class="counter__separator"></div>

			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">1</div>
				<div class="counter__number">4</div>
				<div class="counter__name">Часов</div>
			</div>
			<!-- END counter__item -->

			<div class="counter__separator"></div>

			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">3</div>
				<div class="counter__number">7</div>
				<div class="counter__name">Минут</div>
			</div>
			<!-- END counter__item -->

			<div class="counter__separator"></div>

			<!-- BEGIN counter__item -->
			<div class="counter__item">
				<div class="counter__number">2</div>
				<div class="counter__number">8</div>
				<div class="counter__name">Секунд</div>
			</div>
			<!-- END counter__item -->


		</div>
		<!-- END counter -->
	</div>
	<!-- END love__inner -->
</div>
<!-- END love -->