

<!-- BEGIN modnakarta -->
<div class="modnakarta">
	<!-- BEGIN topline -->	
	<div class="topline">
		<span class="topline__love">love</span>
		<span class="topline__sign">+</span>
		<img class="topline__img" src="img/logo-mk.png" alt="logo">
		<span class="topline__sign">=</span>
		<span class="topline__name">ModnaKarta</span>
	</div>
	<!-- END topline -->

		<h3 class="modnakarta__title">В знак взаимной любви</h3>
		<h2 class="modnakarta__head">бонус <span>100</span> грн</h2>

		<div class="modnakarta__text"><span class="is-big">Владельцам ModnaKarta</span> бонус будет начислен в 20:00 13.01.2017 года</div>
		<div class="modnakarta__text"><span>При покупке  ModnaKarta</span> бонус будет начислен сразу после ее покупки, но не ранее 20:00 13.01.2017</div>
		<div class="modnakarta__bonus">Бонус действует в период с 20:00 13.02.2017 по 05:59 15.02.2017 на заказы суммой от 700 грн</div>

		<button class="modnakarta__btn">Хочу ModnaKarta</button>
</div>
<!-- END modnakarta -->
