.icon-24_7 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-account {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart_icon {
  width: 1em;
  height: 1em;
  fill: #626F77;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-global_icon {
  width: 1em;
  height: 1em;
  fill: #626F77;
}
.icon-global_icon_active {
  width: 1em;
  height: 1em;
  fill: #4FB748;
}
.icon-help {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-login17 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 4.69em;
  height: 1em;
  fill: none;
}
.icon-mhelp {
  width: 1em;
  height: 1em;
  fill: #626F77;
}
.icon-mk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mk_card {
  width: 0.81em;
  height: 1em;
  fill: #626F77;
}
.icon-new-pink {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-new {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #626F77;
}
.icon-sale_icon {
  width: 0.94em;
  height: 1em;
  fill: #626F77;
}
.icon-sale_icon_active {
  width: 0.94em;
  height: 1em;
  fill: none;
}
.icon-tab {
  width: 0.57em;
  height: 1em;
  fill: none;
}
.icon-tab_active {
  width: 0.57em;
  height: 1em;
  fill: none;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #626F77;
}
.icon-user_big {
  width: 1em;
  height: 1em;
  fill: none;
}
